body{
    background-color: black;
}

.fecha{
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
    font-size: 32px;
    color: white;
    letter-spacing: 3px; /* PARA CREAR UN ESPACIO ENTRE CARACTERES */
}

.hora{
    font-family: 'Londrina Outline', cursive;
    text-transform: uppercase;
    font-size: 60px;
    color: white;
    letter-spacing: 5px;
}

/* COLOR NEON */
.orange {
    text-shadow: 
        0 0 5px #FF7300,
        0 0 10px #FF7300,
        0 0 20px #FF7300,
        0 0 40px #FF7300,
        0 0 80px #FF7300,
        0 0 90px #FF7300,
        0 0 100px #FF7300,
        0 0 150px #FF7300;
}

.blue {
    text-shadow: 
        0 0 5px #7BACFF,
        0 0 10px #7BACFF,
        0 0 20px #7BACFF,
        0 0 40px #7BACFF,
        0 0 80px #7BACFF,
        0 0 90px #7BACFF,
        0 0 100px #7BACFF,
        0 0 150px #7BACFF;
}

/* MEDIA QUERIES */
@media all and (max-width: 599px) {
    .fecha {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .hora {
        display: flex;
        font-size: 50px;
        padding: 10px;
    }
}